AirlineApp/Service References/ServiceReference1/wsHttpBinding1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AirlineBO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AirlineBO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AirBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="classid" type="xs:int" />
      <xs:element minOccurs="0" name="cost" type="xs:int" />
      <xs:element minOccurs="0" name="destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="origin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AirBO" nillable="true" type="tns:AirBO" />
</xs:schema>