AirlineApp/Service References/AirlineWS1/AirlineDetails.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="searchAirlines">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ori" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dest" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchAirlinesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchAirlinesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAirlines">
        <s:complexType />
      </s:element>
      <s:element name="GetAllAirlinesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllAirlinesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="searchAirlinesSoapIn">
    <wsdl:part name="parameters" element="tns:searchAirlines" />
  </wsdl:message>
  <wsdl:message name="searchAirlinesSoapOut">
    <wsdl:part name="parameters" element="tns:searchAirlinesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllAirlinesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAirlines" />
  </wsdl:message>
  <wsdl:message name="GetAllAirlinesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAirlinesResponse" />
  </wsdl:message>
  <wsdl:portType name="AirlineDetailsSoap">
    <wsdl:operation name="searchAirlines">
      <wsdl:input message="tns:searchAirlinesSoapIn" />
      <wsdl:output message="tns:searchAirlinesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAirlines">
      <wsdl:input message="tns:GetAllAirlinesSoapIn" />
      <wsdl:output message="tns:GetAllAirlinesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AirlineDetailsSoap" type="tns:AirlineDetailsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="searchAirlines">
      <soap:operation soapAction="http://tempuri.org/searchAirlines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAirlines">
      <soap:operation soapAction="http://tempuri.org/GetAllAirlines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AirlineDetailsSoap12" type="tns:AirlineDetailsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="searchAirlines">
      <soap12:operation soapAction="http://tempuri.org/searchAirlines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAirlines">
      <soap12:operation soapAction="http://tempuri.org/GetAllAirlines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AirlineDetails">
    <wsdl:port name="AirlineDetailsSoap" binding="tns:AirlineDetailsSoap">
      <soap:address location="http://localhost:58242/AirlineDetails.asmx" />
    </wsdl:port>
    <wsdl:port name="AirlineDetailsSoap12" binding="tns:AirlineDetailsSoap12">
      <soap12:address location="http://localhost:58242/AirlineDetails.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>